.app {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  background-color: #b5d8ff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.centered {
  text-align: center;
}

.sub-heading {
  margin-top: 5px;
  margin-bottom: 8px;
  font-weight: 700;
  font-size: 14px;
}

.chart-box {
  background-color: white;
  height: 98%;
  border-radius: 25px;
}

@media screen and (max-width: 1350px) {
  .astro {
    display: none;
  }
}
